{{ define "main" }}

  {{ partial "leaflet-resources.html" . }}

  {{ $filename := .File.ContentBaseName }}
  {{ $basemaps := .Site.Data.basemaps }}
  {{ $basemap := index (where $basemaps "Map ID" $filename) 0 }}

  {{ if not $basemap }}
    {{ range $basemaps }}
      {{ if eq .mapID $filename }}
        {{ $basemap = . }}
      {{ end }}
    {{ end }}
  {{ end }}

  <style>
    img {
      border-radius: 0 !important;
    }
    .hx img {
      border-radius: 0 !important;
    }
  </style>

  <div class='hx:mx-auto hx:flex hextra-max-page-width'>
      {{ partial "sidebar.html" (dict "context" .) }}
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx:w-full hx:min-w-0 hx:max-w-6xl hx:px-6 hx:pt-4 hx:md:px-12">
        {{ partial "breadcrumb.html" . }}
        <div class="content">
          <h1>{{ $basemap.Name }}</h1>
          <p class="hx:pb-8 hx:text-xl">{{ $basemap.Description }}</p>

          {{/* Add Leaflet map after description */}}
          {{ $layer_url := index $basemap "XYZ URL" }}
          {{ $tms := index $basemap "TMS Option" }}
          {{ $map_id := printf "map-%s" $filename }}
          {{ partial "leaflet-map.html" (dict "layer_url" $layer_url "tms" $tms "map_id" $map_id "height" "400px" "width" "100%") }}

          <h2>How to Use</h2>
          <h3>XYZ raster tiles URL</h3>
          <p>Copy and paste the following URL in your JavaScript code using web clients such as Leaflet or OpenLayers.</p>
          <p>{{ index $basemap "XYZ URL" }}</p>

          <p>Note that you can fetch individual layer or a group of layers for this basemap. For example, you can fetch only tiles related to the nomenclature labels, and lay it on top of a single-layer raster basemap available for this planetary body. Learn more about how to <a href="https://carto.com/developers/maps-api/guides/named-maps/#fetching-xyz-tiles-for-named-maps" target="_blank" class="link-10">fetch CARTO XYZ Tiles for Named Maps</a>.</p>
          <h3>Examples</h3>
          <h4>Leafmap</h4>
          <h4>OpenLayers</h4>
          <h2>Data Layers</h2>
          <p>This basemap is composed of the following datasets:</p>
        </div>
      </main>
    </article>
  </div>
{{ end }}
