{{- $layer_url := .layer_url -}}
{{- $height := .height | default "100%" -}}
{{- $width := .width | default "500px" -}}
{{- $tms := .tms | default "false" -}}
{{- $map_id := .map_id | default "map" -}}

<div id="{{ $map_id }}" style="height: 500px; width: 100%;" data-height="{{ $height }}" data-width="{{ $width }}" data-tms="{{ $tms }}"></div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var mapElement = document.getElementById('{{ $map_id }}');
    var height = mapElement.getAttribute('data-height');
    var width = mapElement.getAttribute('data-width');
    var tms = mapElement.getAttribute('data-tms') === 'true';

    mapElement.style.height = height;
    mapElement.style.width = width;

    var map = L.map('{{ $map_id }}').setView([0, 0], 3);

    var baselayer = new L.tileLayer('{{ $layer_url }}', {
      zoom: 3,
      tms: tms,
    }).addTo(map).setZIndex(0);
  });
</script>